{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock head %}
{% block body %}
<div class="container">
    <h1>Add Password: </h1>
    <form method="POST" class="form">
        <label for="website">Website URL</label>
        <input type="text" class="input-field" name="website" placeholder="ex. google.com">
        <label for="password">Password: </label>
        <input type="password" class="input-field" name="password" placeholder="ex. some_password123">
        <input type="submit" class="submit" value="Submit">
    </form>
</div>
{% endblock body %}
