<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Password Manager</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="//fonts.googleapis.com/css?family=Open+Sans"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/font.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/index.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/flash.css') }}"
        />
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
        {% block head %} {% endblock head %}
    </head>
    <body>
        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('your_passwords') }}">Your Passwords</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% block body %} {% endblock body %}
    </body>
</html>
