{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock head %}
{% block body %}
<div class="container">
    <h1>Your Passwords: </h1>
    <table class="passwords">
        <thead>
            <tr>
                <th>Website/App</th>
                <th>View Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="google.com">google.com</a></td>
                <td><a href="#" class="view-password">View Password</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}
