{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock head %}
{% block body %}
<div class="container">
    <h1 class="password-title">Your Passwords: </h1>
    <a href="{{ url_for('add_password') }}" class="add-password view-password">Add Password</a>
    <br>
    <table class="passwords">
        <thead>
            <tr>
                <th>Website/App</th>
                <th>View Password</th>
                <th>Delete Password</th>
            </tr>
        </thead>
        <tbody>
            {% for row in passwords %}
            <tr>
                <td><a href="{{ row[1] }}" class="link">{{ row[1] }}</a></td>
                <td><a href="{{ url_for('view_password', id=row[0]) }}" class="view-password">View Password</a></td>
                <td><form method="POST"><input type="submit" value="Delete Password" class="submit" name="delete_{{ row[0] }}"></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
