/* Used for base.html and universal styles */

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.navbar {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #252323;
  margin-top: -10px;
  margin-left: -2%;
  margin-right: -2%;
}

.navbar li {
  margin-left: 15px;
  margin-right: 15px;
  padding: 25px;
  padding-top: 28px;
}

.navbar li:hover {
  background-color: #000000;
}

.navbar li a {
  font-size: larger;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
